@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
	$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		._wb-nm#{$infix}   { word-break: normal !important; }
		._wb-ba#{$infix}   { word-break: break-all !important; }
		._wb-ka#{$infix}   { word-break: keep-all !important; }
	}
}