$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$colors: (
	'tpr': transparent
) !default;

// margin, padding
$spacers: (
	'0': 0,
	'at': auto
) !default;

// width & height & dimension
// eg. top right bottom left
$sizes: (
	'0': 0,
	'50pct': 50%,
	'100pct': 100%,
	'100vw': 100vw,
	'100vh': 100vh,
	'at': auto
) !default;

// border width
$borders: (
	'0': 0,
	'1': 1px,
	'2': 2px
) !default;

$border-radius: (
	'0': 0px,
	'50pct': 50%,
	'max': 9999px,
	'at': auto
) !default;

$font-size: (
	'12': 12px,
	'14': 14px,
	'16': 16px,
	'18': 18px,
	'20': 20px,
	'30': 30px,
) !default;