$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$colors: () !default;

$colors: map-merge(
  (
    'tpr': transparent
  ),
  $colors
);

// margin, padding
$spacers: () !default;

$spacers: map-merge(
  (
    '0': 0,
	'at': auto
  ),
  $spacers
);

// width & height & dimension
// eg. top right bottom left
$sizes: () !default;

$sizes: map-merge(
  (
    '0': 0,
	'50pct': 50%,
	'100pct': 100%,
	'100vw': 100vw,
	'100vh': 100vh,
	'at': auto
  ),
  $sizes
);

// border width
$borders: () !default;

$borders: map-merge(
  (
	'0': 0,
	'1': 1px,
	'2': 2px
  ),
  $borders
);

$border-radius: () !default;

$border-radius: map-merge(
  (
	'0': 0,
	'50pct': 50%,
	'max': 9999px,
	'at': auto
  ),
  $border-radius
);

$font-size: () !default;

$font-size: map-merge(
  (
	'12': 12px,
	'14': 14px,
	'16': 16px,
	'18': 18px,
	'20': 20px,
	'30': 30px,
  ),
  $font-size
);